# Node dependencies
node_modules

# Local environment files
.env
.env.*

# Build output
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS and editor files
.DS_Store
.vscode
.idea

# Generated package manager files
package-lock.json
yarn.lock

# Lock files
*.lock
 
# Ignore generated JS from prisma seed/other scripts
prisma/*.js
